<form class="form" [formGroup]="userForm">
  <div style="font-size: 40px; color: #5d5fef">GEMINI</div>
  <br />
  <mat-form-field class="input-class" appearance="fill">
    <mat-label style="color: #5d5fef">Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="emailControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. pat@example.com"
      [formControlName]="'email'"
    />
    <!-- <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
      Por favor, insira um e-mail válido
    </mat-error>
    <mat-error *ngIf="emailControl.hasError('required')">
      Este campo é <strong>Obrigatório</strong>
    </mat-error> -->
  </mat-form-field>
  <br />

  <mat-form-field class="input-class" appearance="fill">
    <mat-label style="color: #5d5fef">Senha</mat-label>
    <input
      type="password"
      matInput
      formControlName="emailControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Pedro"
      [formControlName]="'password'"
    />
  </mat-form-field>

  <button mat-raised-button class="button" (click)="loginUser()">Login</button>
</form>
