<body style="background-color:#A5A6F6;">
<div class="container">
    <table class="table table-striped">
      <thead>
        <div style="font-size: 40px; color: #ffffff;">GEMINI</div>
          <tr>
            <th>Id</th>
            <th>Id_turma</th>
            <th>Nome</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of listgrupo">
          <td contenteditable='true' id="a">{{group.id}}</td>
          <td contenteditable='true' id="b">{{group.id_turma}}</td>
          <td contenteditable='true' id="c">{{group.nome}}</td>
          <a class="btn btn-primary btn-lg" style="background-color: cornflowerblue;" (click)="editar(group)" role="button" >Alterar &raquo;</a>
          <a class="btn btn-primary btn-lg" style="background-color: rgb(208, 114, 245);" (click)="excluir(group)" role="button">Excluir &raquo;</a>
        </tr>
      </tbody>
    </table>
  </div>
</body>