.input-class{
    width: 100%;
    color: #000000;
}
.form{
    padding: 24% 4% 0% 22%;
    height: 100%;
    background-color: #ffffff;
}

button{
    color: #5D5FEF;
    background-color: #A5A6F6;
    width: 100%;
    height: 50px;
}
