<body style="background-color:#ffffff;">
    <div class="container">
        <table class="table table-striped">
          <thead>
            <div style="font-size: 40px; color: #ffffff;">GEMINI</div>
              <tr>
                <th>Nome</th>
              </tr>
          </thead>
          <tbody>
              <td contenteditable='true' id="a"></td>
              <a class="btn btn-primary btn-lg" style="background-color: cornflowerblue;" (click)="editar()" role="button" >Alterar &raquo;</a>
          </tbody>
        </table>
      </div>
    </body>