<footer id="footerGemini" *ngIf="validarLogado()">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href=""> </a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Inicio</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/questionario">Questionários</a></li>
                    <li><a href="/turma/list">Turmas</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Sistema Gemini</h5>
                <p>
                    O sistema Gemini tem como objetivo criar e gerenciar formulários de avaliação em pares,
                     aplicadas para uma turma em que está dividida em grupos</p>
                <p>

                </p>
            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-4">
                <h5>Informações da empresa</h5>
                <p>A Tríada foi fundada em 2019, com o objetivo de ser uma grande desenvolvedora de software, respeitando a diversidade e
                    a natureza.</p>
                <p>Existimos para entregar soluções em sistemas tecnológicos,  para que as pessoas possam utilizar seu tempo
                    com o que realmente importa na vida. </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2021 - 2022 - Tríada Software</p>
    </div>
</footer>
  