.padding-container {
    padding: 50px;
}

.container-graphs{
    padding: 30px;
}

.container-button-back {
    margin-top: 50px;
    display: flex;
}

.container-button-back button{
    margin-left: auto;
    margin-right: auto;
}