.margem{
    margin: 20px 80px;
}
.form-check-label{
    color:  #5D5FEF;
  }
  
  .card-header{
    background-color:#5D5FEF;
  }
  .btn{
    background-color:#5D5FEF;
  }
  .direita{
      float: right;
  }
  .margem2{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }