
<div class="direita">
    <button class="btn novo margem2" (click)="openDialog()">Nova questão</button>
</div><br><br>
<div class="margem" *ngFor="let questao of questaoList; let i = index">
    <div class="card text-left">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Questão {{i+1}}</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="form-check form-check-inline-center">
            
            <div class="mb-3">
              <textarea class="form-control" id="Textarea1" rows="2" value="{{questao.name}}" disabled  ></textarea>
            </div>
           
            <div *ngIf="questao.tipo_alternativa==0" >
              <div class="mb-3">
                <textarea class="form-control" id="Textarea1" rows="4" disabled placeholder="Resposta:" ></textarea>
              </div>
            </div>
            
            <div *ngIf="questao.tipo_alternativa==1" >
              {{separarQuestoes(questao.alternativas)}}
              <div class="mb-3">
                <input class="form-check-input radioG" type="radio" name="{{questao.id}}" id="inlineRadio1" value="option1"
                >
                <textarea  class="form-control form-control-sm" id="Textarea2" rows="1" value="{{alternativas2[0]}}"  
                disabled ></textarea>
              </div>
              <div class="mb-3">
                <input class="form-check-input radioG" type="radio" name="{{questao.id}}" id="inlineRadio1" value="option1"
                >
                <textarea class="form-control form-control-sm" id="Textarea3" rows="1" value="{{alternativas2[1]}}" 
                disabled ></textarea>
              </div>
              <div class="mb-3">
                <input class="form-check-input radioG" type="radio" name="{{questao.id}}" id="inlineRadio1" value="option1"
                >
                <textarea class="form-control form-control-sm" id="Textarea4" rows="1" value="{{alternativas2[2]}}"
                disabled></textarea>
              </div>
              <div class="mb-3">
                <input class="form-check-input radioG" type="radio" name="{{questao.id}}" id="inlineRadio1" value="option1"
                >
                <textarea class="form-control form-control-sm" id="Textarea5" rows="1" value="{{alternativas2[3]}}"
                disabled ></textarea>
              </div>
              <div class="mb-3">
                <input class="form-check-input radioG" type="radio" name="{{questao.id}}" id="inlineRadio1" value="option1"
                >
                <textarea class="form-control form-control-sm" id="Textarea6" rows="1" value="{{alternativas2[4]}}"
               disabled ></textarea>
              </div>
            </div>
            
            
            <div *ngIf="questao.tipo_alternativa==3">
              {{separarQuestoes(questao.alternativas)}}
              <div class="mb-3">
                <input class="form-check-input radioG" type="radio" name="{{questao.id}}" id="inlineRadio1" value="option1">
                <textarea class="form-control form-control-sm" id="Textarea7" rows="1" value="{{alternativas2[0]}}" 
                disabled ></textarea>
              </div>
              <div class="mb-3">
                <input class="form-check-input radioG" type="radio" name="{{questao.id}}" id="inlineRadio1" value="option1">
                <textarea class="form-control form-control-sm" id="Textarea8" rows="1" value="{{alternativas2[1]}}"
                disabled ></textarea>
              </div>
            </div>  
          
          
          </div>
        <div class="form-check form-check-inline-right text-right">
          <a class="btn btn-primary" (click)="delete(questao)">Deletar</a>
        </div>
        </div>
      </div>
</div>

