.container {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 100%;
	padding: 10px;
	margin: 0px 50px;
	
}

.item {
	float: left;
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}
