<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="">Home</a>
    <a href="/questionario">Questionário</a>
    <a href="#">Questão</a>
</div>
<div class="row faixa">
    <div class="col-sm-1 col-1">
        <div class="btn-menu" (click)="openNav()">&#9776;</div>
    </div>
    <div class="col col-lg-3 col-3"></div>
    <div class="col-lg-4 ml-2 col-4">
        <div class="logo2" ></div>
    </div>
    <div class="col-lg-3"></div>
</div>



<!-- <span  style="font-size:30px;cursor:pointer" >&#9776;</span> -->
<app-simple-message class="col-mg-12"></app-simple-message>
<router-outlet></router-outlet>
<app-footer></app-footer>