<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="">Home</a>
    <a href="/questionario">Questionário</a>
    <a href="#">Questão</a>
</div>
<div class="row faixa">
    <div class="col-sm-1">
        <div class="btn-menu" (click)="openNav()">&#9776;</div>
    </div>
    <div class="col-sm-11">
        
    </div>
</div>
<!-- <span  style="font-size:30px;cursor:pointer" >&#9776;</span> -->
<router-outlet></router-outlet>