<div id="list-turma">
    <mat-card class="col-md-12">
        <mat-card-title>Listagem de turmas</mat-card-title>
        <mat-card-subtitle>Lista de todas as turmas existentes:</mat-card-subtitle>
    
        <table mat-table [dataSource]="listTurma" class="demo-table col-md-12">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let turma">{{turma.name}}</td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="dateCreation">
                <th mat-header-cell *matHeaderCellDef>Data de criação</th>
                <td mat-cell *matCellDef="let turma">{{ turma.dateCreation }} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="dateEnding">
                <th mat-header-cell *matHeaderCellDef>Data de encerramento</th>
                <td mat-cell *matCellDef="let turma">{{turma.dateEnding}}</td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Ações</th>
                <td mat-cell *matCellDef="let turma">
                    <div class="row" *ngIf="isDono()">
                        <button class="rounded-button" mat-mini-fab aria-label="Visualizar turma." (click)="viewTurma(turma)">
                            <mat-icon>visibility icon</mat-icon>
                        </button>
                        <button class="rounded-button" mat-mini-fab aria-label="Editar turma." (click)="editTurma(turma)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="rounded-button" mat-mini-fab aria-label="Excluir turma." (click)="deleteTurma(turma)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>
    </mat-card>
</div>
